:root {
  --background: #042940;
  --primary: #c4c4c4;
  --secondary: #9fc131;
}

html,
body {
  max-width: 100vw;
}

body {
  color: var(--primary);
  background: var(--background);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

img {
  display: block;
}
